<h1><%= link_to 'Feeds', feeds_path %> |  <%= link_to 'News', 'news' %> </h1>


  <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to entry.title.html_safe, entry.url, target: :_blank %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
      </div>
    </div>
  <% end %>


<%= link_to 'Back', feeds_path %>